* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.new {
  width: 20rem;
  margin: auto;
  text-align: center;
}
